{% extends "base.html" %}

{% block title %}
{{ group_name.capitalize() }} - Species
{% endblock %}

{% block content %}
<div class="mt-4">
  <h1 class="mb-4 text-light">{{ group_name.capitalize() }} Species</h1>
  <div class="row g-3">
    {% for species_name, image_url in species_list.items() %}
    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
      <a href="{{ url_for('alga_detail', alga_id=species_name) }}" class="text-decoration-none">
        <div class="card h-100 shadow-sm">
          <img 
            src="{{ image_url }}" 
            class="card-img-top img-fluid rounded" 
            alt="{{ species_name }}">
          <div class="card-body py-2">
            <h5 class="card-title text-center mb-0 text-truncate" title="{{ species_name.capitalize() }}">
              {{ species_name.capitalize() }}
            </h5>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}