{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1 class="display-4 mb-4 text-center text-light">BIRC Pond Microalgae</h1>
  
  <div class="row g-3">
    {% for group in groups %}
    <div class="col-6 col-md-4 col-lg-3">
      <a href="{{ url_for('group_detail', group_name=group) }}" class="text-decoration-none text-dark">
        <div class="card h-100 shadow-sm">
          {# Try to show a thumbnail from the first image in the group folder #}
          {% set group_folder = 'images/' ~ group %}
          {% set thumb_path = None %}
          {% for ext in ['jpg', 'jpeg', 'png', 'gif'] %}
            {% if (url_for('static', filename=group_folder ~ '/thumbnail.' ~ ext)) %}
              {% set thumb_path = url_for('static', filename=group_folder ~ '/thumbnail.' ~ ext) %}
              {% break %}
            {% endif %}
          {% endfor %}
          {# Fallback if no thumbnail, use a generic placeholder #}
          <img src="{{ thumb_path or url_for('static', filename='images/placeholder.png') }}" 
               class="card-img-top img-fluid rounded" alt="{{ group }}">
          <div class="card-body">
            <h5 class="card-title text-center text-dark">{{ group.capitalize() }}</h5>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
